* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: auto;
    scrollbar-color: #151515 #ffffff;
}

html {
    scroll-behavior: smooth;
}

body {
    &::-webkit-scrollbar {
        width: 12px;
    }
    &::-webkit-scrollbar-track {
        background: #ffffff;
      }
    
    &::-webkit-scrollbar-thumb {
        background-color: #151515;
        border-radius: 10px;
        border: 3px solid #ffffff;
    }
}
  
a {
    text-decoration: none;
    color: $main_text;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.h2 {
    font-weight: 400;
    font-size: 32px;
}

.link {
    position: relative;
    &::after {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        content: '';
        width: 24px;
        height: 24px;
        margin-left: 4px;
        background: url('../img/link-icon.svg') center no-repeat;
    }
}

.invisible {
    opacity: 0;
    transform: translateY(20px);
}

.visible {
    opacity: 1;
    transition: opacity 1.5s, transform 1.5s ease;
    transform: translateY(0%);
}