.about {
    padding: 100px 0;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__heading {
        margin-bottom: 24px;
    }

    &__text {
        max-width: 560px;
        margin-bottom: 16px;
        line-height: 155%;
    }

    &__technologies {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        padding-left: 20px;
    }
    &__socials {
        display: flex;
        flex-direction: column;
        gap: 32px;
        list-style: none;
        & .socials {
            &__link > svg  {
                &:hover > path {
                    fill: #525252;
                }
            }
        }
    }
    
}