.header {
    &__wrapper {
        display: flex;
        width: 100%;
        height: 100px;
        align-items: center;
        justify-content: space-between;
    }
    & .burger {
        display: none;
    }
    &__nav {
        .nav {
            &__list {
                display: flex;
                gap: 32px;
                list-style: none;
            }
            &__link {
                position: relative;
                text-transform: capitalize;
                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -5px;
                    width: 100%;
                    height: 0px;
                    background-color: $main_text;
                    transition: height .2s ease-out;
                }
                &:hover {
                    &::after {
                        height: 2px;
                    }
                }
            }
        }
    }
    &__mail {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -5px;
            width: 100%;
            height: 0px;
            background-color: $main_text;
            transition: height .2s ease-out;
        }
        &:hover {
            &::after {
                height: 2px;
            }
        }
    }
}